
<div class="container">
  <div class="addimage">
    <button class="btn btn-outline-dark" (click)="openAddModal()">Add Image </button>
  </div>
  <h1 class="font-weight-light text-center text-lg-left mt-4 mb-0">Gallery</h1>

  <hr class="mt-2 mb-5">

  <div class="row text-center text-lg-left">

    <div class="col-lg-3 col-md-4 col-6 zoom">

      <app-cropper></app-cropper>
    </div>
    <div class="col-lg-3 col-md-4 col-6 zoom">

      <app-cropper></app-cropper>
    </div>
    <div class="col-lg-3 col-md-4 col-6 zoom">

      <app-cropper></app-cropper>
    </div>
    <div class="col-lg-3 col-md-4 col-6 zoom">

      <app-cropper></app-cropper>
    </div>

  </div>
  <ng-template #addFileTemplate>
    <div class="modal-header">
      <h4 class="modal-title" id="myModalLabel12"><i class="fa fa-user"></i> Add New Images (under development)</h4>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <app-add-new-image></app-add-new-image>
    </div>
  </ng-template>

</div>
